@model LibraryManagement.Models.BookType
@{
    ViewBag.Title = "DeleteBookType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>删除图书类型</h2></center>
<div align="center">
    <img src="~/Image/fenge_line.jpg" width="720" height="10" />
</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <h3>你确定删除<strong>@Model.typename</strong>这个图书类型吗？</h3>
            <input type="submit" value="删除" /> |
            @Html.ActionLink("返回", "BookTypeManagement")
        </p>
    }
</div>
