* {margin:0;padding:0;
}
td{text-align:center; border:1px solid #00ffff }
table{border-collapse:collapse;border-spacing:0;}
.tb3 td{text-align:center; border:1px solid #00ffff;width:105px;}
.tb4 td{text-align:center; border:1px solid #00ffff;width:200px;}